In [72]:
import pickle
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import cross_validate
import sklearn.metrics as sm

In [73]:
df = pd.read_csv('xapi-edu-data.csv')

In [74]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [75]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM GENDER
#['F' 'M']
#MENJADI
#[0, 1]
le_gender = LabelEncoder()
le_gender.fit(df['gender'])
print(le_gender.classes_)
df['gender'] = le_gender.transform(df['gender'])

['F' 'M']

In [76]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM NATIONALITY
#['Egypt' 'Iran' 'Iraq' 'Jordan' 'KW' 'Lybia' 'Morocco' 'Palestine'
#'SaudiArabia' 'Syria' 'Tunis' 'USA' 'lebanon' 'venzuela']
#MENJADI
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
le_nation = LabelEncoder()
le_nation.fit(df['NationalITy'])
print(le_nation.classes_)
df['NationalITy'] = le_nation.transform(df['NationalITy'])

['Egypt' 'Iran' 'Iraq' 'Jordan' 'KW' 'Lybia' 'Morocco' 'Palestine'
 'SaudiArabia' 'Syria' 'Tunis' 'USA' 'lebanon' 'venzuela']

In [77]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM PLACEOFBIRTH
#['Egypt' 'Iran' 'Iraq' 'Jordan' 'KuwaIT 'Lybia' 'Morocco' 'Palestine'
#'SaudiArabia' 'Syria' 'Tunis' 'USA' 'lebanon' 'venzuela']
#MENJADI
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
le_pob = LabelEncoder()
le_pob.fit(df['PlaceofBirth'])
print(le_pob.classes_)
df['PlaceofBirth'] = le_pob.transform(df['PlaceofBirth'])

['Egypt' 'Iran' 'Iraq' 'Jordan' 'KuwaIT' 'Lybia' 'Morocco' 'Palestine'
 'SaudiArabia' 'Syria' 'Tunis' 'USA' 'lebanon' 'venzuela']

In [78]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM STAGEID
#['HighSchool' 'MiddleSchool' 'lowerlevel']
#MENJADI
#[0, 1, 2]
le_sid = LabelEncoder()
le_sid.fit(df['StageID'])
print(le_sid.classes_)
df['StageID'] = le_sid.transform(df['StageID'])

['HighSchool' 'MiddleSchool' 'lowerlevel']

In [79]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM GRADEID
#['G-02' 'G-04' 'G-05' 'G-06' 'G-07' 'G-08' 'G-09' 'G-10' 'G-11' 'G-12']
#MENJADI
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
le_gid = LabelEncoder()
le_gid.fit(df['GradeID'])
print(le_gid.classes_)
df['GradeID'] = le_gid.transform(df['GradeID'])

['G-02' 'G-04' 'G-05' 'G-06' 'G-07' 'G-08' 'G-09' 'G-10' 'G-11' 'G-12']

In [80]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM SECTIONID
#['A' 'B' 'C']
#MENJADI
#[0, 1, 2]
le_sid = LabelEncoder()
le_sid.fit(df['SectionID'])
print(le_sid.classes_)
df['SectionID'] = le_sid.transform(df['SectionID'])

['A' 'B' 'C']

In [81]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM TOPIC
#['Arabic' 'Biology' 'Chemistry' 'English' 'French' 'Geology' 'History'
#'IT' 'Math' 'Quran' 'Science' 'Spanish']
#MENJADI
#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
le_topic = LabelEncoder()
le_topic.fit(df['Topic'])
print(le_topic.classes_)
df['Topic'] = le_topic.transform(df['Topic'])

['Arabic' 'Biology' 'Chemistry' 'English' 'French' 'Geology' 'History'
 'IT' 'Math' 'Quran' 'Science' 'Spanish']

In [82]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM SEMESTER
#['F' 'S']
#MENJADI
#[0, 1]
le_semester = LabelEncoder()
le_semester.fit(df['Semester'])
print(le_semester.classes_)
df['Semester'] = le_semester.transform(df['Semester'])

['F' 'S']

In [83]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM RELATION
#['Father' 'Mum']
#MENJADI
#[0, 1]
le_relation = LabelEncoder()
le_relation.fit(df['Relation'])
print(le_relation.classes_)
df['Relation'] = le_relation.transform(df['Relation'])

['Father' 'Mum']

In [84]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM ParentAnsweringSurvey
#['No' 'Yes']
#MENJADI
#[0, 1]
le_pas = LabelEncoder()
le_pas.fit(df['ParentAnsweringSurvey'])
print(le_pas.classes_)
df['ParentAnsweringSurvey'] = le_pas.transform(df['ParentAnsweringSurvey'])

['No' 'Yes']

In [85]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM ParentschoolSatisfaction
#['Bad' 'Good']
#MENJADI
#[0, 1]
le_pss = LabelEncoder()
le_pss.fit(df['ParentschoolSatisfaction'])
print(le_pss.classes_)
df['ParentschoolSatisfaction'] = le_pss.transform(df['ParentschoolSatisfaction'])

['Bad' 'Good']

In [86]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM StudentAbsenceDays
#['Above-7' 'Under-7']
#MENJADI
#[0, 1]
le_sad = LabelEncoder()
le_sad.fit(df['StudentAbsenceDays'])
print(le_sad.classes_)
df['StudentAbsenceDays'] = le_sad.transform(df['StudentAbsenceDays'])

['Above-7' 'Under-7']

In [87]:
#LABEL ENCODER
#MENGUBAH NILAI MENJADI ANGKA
#KOLOM StudentAbsenceDays
#['H' 'L' 'M']
#MENJADI
#[0, 1, 2]
le_class = LabelEncoder()
le_class.fit(df['Class'])
print(le_class.classes_)
df['Class'] = le_class.transform(df['Class'])

['H' 'L' 'M']

In [88]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,1,4,4,2,1,0,7,0,0,15,16,2,20,1,1,1,2
1,1,4,4,2,1,0,7,0,0,20,20,3,25,1,1,1,2
2,1,4,4,2,1,0,7,0,0,10,7,0,30,0,0,0,1
3,1,4,4,2,1,0,7,0,0,30,25,5,35,0,0,0,1
4,1,4,4,2,1,0,7,0,0,40,50,12,50,0,0,0,2

In [89]:
#X ADALAH FEATURE
#Y ADALAH LABEL/TARGET
X = df.iloc[:,:-1].values
y = df.iloc[:,-1:].values.ravel()

In [90]:
#SPLIT DATA MENJADI 20% UNTUK TESTING 80% UNTUK TRAINING
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=None)

In [91]:
#NAIVE BAYES MODEL
#TRAINING MODEL
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [92]:
#Cross Validation model 5 K-Fold
scores = cross_validate(clf, X_test, y_test, cv=5, return_train_score=True)

In [93]:
scores['test_score']

array([0.6       , 0.75      , 0.8       , 0.52631579, 0.52941176])

In [94]:
#CONFUSION MATRIX
y_pred = clf.predict(X)
confusion_matrix = sm.multilabel_confusion_matrix(y, y_pred)
print(confusion_matrix)

[[[286  52]
  [ 27 115]]

 [[325  28]
  [ 14 113]]

 [[229  40]
  [ 79 132]]]

In [95]:
tn0, fp0, fn0, tp0 = confusion_matrix[0].ravel()
tn1, fp1, fn1, tp1 = confusion_matrix[1].ravel()
tn2, fp2, fn2, tp2 = confusion_matrix[2].ravel()

In [96]:
#ACCURACY
accuracy0 = (tp0+tn0)/(tp0+fp0+fn0+tn0)
accuracy1 = (tp1+tn1)/(tp1+fp1+fn1+tn1)
accuracy2 = (tp2+tn2)/(tp2+fp2+fn2+tn2)
print((accuracy0+accuracy1+accuracy2)/3)

0.8333333333333334

In [97]:
#PRECISION
precision0 = tp0/(tp0+fp0)
precision1 = tp1/(tp1+fp1)
precision2 = tp2/(tp2+fp2)
print((precision0+precision1+precision2)/3)

0.7524943515574821

In [98]:
#RECALL
recall0 = tp0/(tp0+fn0)
recall1 = tp1/(tp1+fn1)
recall2 = tp2/(tp2+fn2)
print((recall0+recall1+recall2)/3)

0.7750717838395826

In [99]:
#DUMP MODEL
pickle.dump(clf, open('model.pkl','wb'))